@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xosba');
    src:  url('../fonts/icomoon.eot?xosba#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?xosba') format('truetype'),
      url('../fonts/icomoon.woff?xosba') format('woff'),
      url('../fonts/icomoon.svg?xosba#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }